.header {
  display: flex;
  height: 3rem;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 10rem;
  border-bottom: 0.1rem solid silver;
  ul {
    margin-top: 1rem;
  }
  ul > li {
    display: inline;
    padding: 0 0.5rem;
  }
  a {
    text-decoration: none;
    color: inherit;
    &:hover {
      text-decoration: underline;
      color: inherit;
    }
  }
  @media screen and (max-width: 32rem) {
    padding: 0.5rem;
    justify-content: center;
    .first {
      display: none;
    }
    .second {
      ul {
        padding: 0;
        li {
          padding: 0;
        }
      }
    }
  }
}
